<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CrossBrowserSuite" parallel="methods" thread-count="3">
<!-- Chrome Test -->
    <test name="Login Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="herokuapp.com.NewTest">
            	</class>
        </classes>
    </test> 
</suite> 